@import "tailwindcss";

@theme {
  --color-primary:#603AE5;
  --color-secondary:#1C1D21;
  --color-lightgray:#8181A5;
  --color-hover:rgba(96, 58, 229, 0.6);
  --color-gray:#F5F5FA;
  --font-sans:"Hanken Grotesk", sans-serif;
}